{% include 'AdminHeader.html.twig' %}

{% block body %}
    {% block mainPanel %}

<div class="mainpanel">

    <div class="contentpanel">

    <h1>Bonlivraison creation</h1>

    {{ form_start(form) }}

        <div class="form-group">
            <label class="info-title" for="exampleInputEmail1">Bon  de Livraison<span>*</span></label>
            {{ form_widget(form.num_bl, {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="form-group">
            <label class="info-title" for="exampleInputEmail1">Date Bon  de Livraison<span>*</span></label>
            {{ form_widget(form.date_l) }}
        </div>
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-success"/>
        </div>
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('bonlivraison_index') }} " class="btn btn-default">Back to the list</a>
        </li>
    </ul>
    </div>
    </div><!-- mainpanel -->
{% endblock %}

{% endblock %}
<script type="text/javascript">
    $( "#livraison" ).toggleClass( "nav-parent active" )
</script>
{% include 'AdminFooter.html.twig' %}
