{% include 'AdminHeader.html.twig' %}

{% block body %}
    {% block mainPanel %}

<div class="mainpanel">

    <div class="contentpanel">

    <h1>Bonlivraison</h1>
<div class="table-responsive">
    <table class="table table-bordered nomargin" role="grid">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ bonLivraison.id }}</td>
        </tr>
        <tr>
            <th>Num_bl</th>
            <td>{{ bonLivraison.numbl }}</td>
        </tr>
        <tr>
            <th>Date_l</th>
            <td>{% if bonLivraison.datel %}{{ bonLivraison.datel|date('Y-m-d H:i:s') }}{% endif %}</td>
        </tr>
        </tbody>
    </table>
</div>


    <ul>
        <li>
            <a href="{{ path('bonlivraison_index') }}" class="btn btn-default">Back to the list</a> &nbsp;
            <a href="{{ path('bonlivraison_edit', { 'id': bonLivraison.id }) }}" class="btn btn-success">Edit</a> &nbsp;

            {{ form_start(delete_form) }}
            <input type="submit" value="Delete" class="btn btn-danger">
            {{ form_end(delete_form) }}
        </li>

    </ul>
    </div>
    </div><!-- mainpanel -->
{% endblock %}

    {% endblock %}
<script type="text/javascript">
    $( "#livraison" ).toggleClass( "nav-parent active" )
</script>
{% include 'AdminFooter.html.twig' %}
