{% include 'AdminHeader.html.twig' %}

{% block body %}
    {% block mainPanel %}

        <div class="mainpanel">

            <div class="contentpanel">
    <h1>Quantitelivre</h1>
<div class="table-responsive">
    <table class="table table-bordered table-inverse table-striped nomargin">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ quantiteLivre.id }}</td>
            </tr>
            <tr>
                <th>Quantite_l</th>
                <td>{{ quantiteLivre.quantitel }}</td>
            </tr>

            <tr>
                <th>Bon de Livraison réference</th>
                <td>{{ quantiteLivre.bonlivraisonId.numbl }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('quantitelivre_index') }}" class="btn btn-default">Back to the list</a>

            <a href="{{ path('quantitelivre_edit', { 'id': quantiteLivre.id }) }}" class="btn btn-success">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}



                <input type="submit" value="Delete" class="btn btn-danger">
            {{ form_end(delete_form) }}
        </li>
    </ul>
    </div>
                </div>
    </div><!-- mainpanel -->
{% endblock %}

{% endblock %}
<script type="text/javascript">
    $( "#livraison" ).toggleClass( "nav-parent active" )
</script>
{% include 'AdminFooter.html.twig' %}
