{% include 'AdminHeader.html.twig' %}

{% block body %}
    {% block mainPanel %}

<div class="mainpanel">

    <div class="contentpanel">
<div class="table-responsive">
    <table id="example" class="table table-bordered nomargin">
        <thead>
            <tr>
                <th>Id</th>
                <th>Libellecategorie</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for categorie in categories %}
            <tr>
                <td><a href="{{ path('categorie_show', { 'id': categorie.id }) }}">{{ categorie.id }}</a></td>
                <td>{{ categorie.libelleCategorie }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('categorie_show', { 'id': categorie.id }) }}"><i class="fa fa-trash">Supprimer</i>
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('categorie_edit', { 'id': categorie.id }) }}"><i class="fa fa-pencil"></i>Editer</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
    <ul>
        <li>
            <a href="{{ path('categorie_new') }}" class="btn btn-success">Create a new categorie</a>
        </li>
    </ul>
    </div>
</div><!-- mainpanel -->
    {% endblock %}

{% endblock %}
{% include 'AdminFooter.html.twig' %}
<script type="text/javascript">
    $(document).ready(function() {
        $('#example').DataTable();
    } );

</script>